.container40 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #D0E5F0;
  margin-bottom: 100px;
  border-radius: 10px;
}

.left80, .right80 {
  flex: 1;
}

.center {
  flex: 0 0 auto;
  border-radius: 5px;
  text-align: center; /* Center the content horizontally */
}

h1 {
  font-weight: bolder;
  color: #1078AD;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-weight: bold;
  color: #1A519E;
  font-size: larger;
  text-align: center;
}

.btnb, .btnb1 {
  border-radius: 5px;
  background-color: #1078AD;
  padding: 20px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btnb1 {
  font-family: "Cairo", sans-serif;
  padding: 15px 27px;
  margin-left: 200PX;
}
