body{
  background-color: #c2deec;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
}

.navbar-left {
  display: flex;
}

.navbar-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-button:last-child {
  margin-right: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.navbar-arabic-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.small-logo {
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px;
}
