.unique-image-with-button {
  text-align: center;
  background-color: white;
}

.unique-image {
  max-width: 1000px;
}

.unique-button {
  display: block;
  margin: 10px auto; /* Center horizontally */
  padding:2px 100px;
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  border-radius: 5px;
  border: none; 
  background-color: #1078AD;
  color: white;
  font-weight: 700;
  font-size: xx-large;
}

