@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@1,200..1000&display=swap');



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #BFDBEA;
  color: white;
}

.navbar-left img {
  height:60px;
  cursor: pointer;
}

.navbar-right button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #1078AD;
  cursor: pointer;
  font-weight: bolder;
  font-size: x-large;
  font-family: "Cairo", sans-serif;  

}

.navbar-right button:hover {
  color: #000000;

}
.ARBTN{
  border-style: dashed;}

  @media screen and (max-width:666px) {
    .navbar {
      flex-direction:column;
      align-items: stretch;
      padding: 10px;
    }
  
    .navbar-logo {
      margin-bottom: 10px; 
    }
  
    .navbar-buttons {
      justify-content: center;
      font-size:xx-small;
      font-weight:100;
    }
  }